@model IEnumerable<AutoShop.Models.Make>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/><br />
<br/>
<div class="Row">
    <div class="col-6 border">
        <h2 class="text-info"> Makes of Vehicles</h2>
    </div>
    <div class="col-6 text-right ">
        @*Here we will call Create action method define in controller. asp-action is use for this purpose*@
        <a class="btn btn-info" asp-action="Create">Add New Make</a>
    </div>
    <br/>
    <div class="col-12">
        <table class="tale table-stripped border">
            <tr class="table-info">
                <th>@Html.DisplayNameFor(m=>m.Name)</th>
                <th></th>
            </tr>
      @*We use the @ sign whenever we like to use C#.*@
            @foreach(var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m=>item.Name)</td>
                    <td class="text-right"> Edit | Delete</td>
                </tr>                

            }

        </table>
    </div>
</div>
