@model IEnumerable<AutoShop.Models.Make>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/><br />
<br/>
<div class="Row">
    <div class="col-6 border">
        <h2 class="text-info"> Makes of Vehicles</h2>
    </div>
    <div class="col-6 text-right ">
        @*Here we will call Create action method define in controller. asp-action is use for this purpose*@
        <a class="btn btn-info" asp-action="Create">Add New Make</a>
    </div>
    <br/>
    <div class="col-12">
        <table class="tale table-stripped border">
            <tr class="table-info">
                <th>@Html.DisplayNameFor(m=>m.Name)</th>
                <th></th>
            </tr>
      @*We use the @ sign whenever we like to use C#.*@
            @foreach(var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Name)
            </td>
            <td class="text-right">
                <div class="btn-group" role="group">
                    <a type="button" class="btn btn-primary" href="@Url.Action("Edit","Make",new { Id = item.Id })">Edit</a>
                    @*<a type="button" class="btn btn-primary" href="/Make/Delete/@item.Id">Delete</a>*@
                    @*<form method="post" action="Delete">
                    <input onclick="if(!confirm('Are you sure you like to Delete Model')){return false}" type="submit" class="btn btn-danger round-0" asp-action="Delete" value="Delete" asp-route-id="@Model" />
                </form>*@
                </div>
            </td>
            <partial name="_TableButtonPartial" model="item.Id" />
        </tr>                

            }

        </table>
    </div>
</div>
