@model int
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<td class="text-right">
       <form method="post" action="Delete">
            <input onclick="if(!confirm('Are you sure you like to Delete Item')){return false}" type="submit" class="btn btn-danger round-0" asp-action="Delete" value="Delete" asp-route-id="@Model" />
        </form>
</td>